/* HEADER */

@media screen and (max-width: 2066px){
    .circulo{
        position: absolute;
        width: 400px;
        height: 400px;
        left: 80px;
        top: 220px;
    }
}

@media screen and (max-width: 1800px){
    .titulo{
        font-size: 60px;
    }

    .sub-titulo{
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 1600px){
    .circulo{
        position: absolute;
        width: 350px;
        height: 350px;
        left: 60px;
        top: 200px;
    }

    .titulo{
        font-size: 50px;
    }

    .sub-titulo{
        font-size: 2.2rem;
    }
}

@media screen and (max-width: 1400px){
    .apresentacao{
        background-image: url(../img/projetoMobile.png);
        background-position: center;
    }
    
    .circulo{
        height: 250px;
        width: 250px;
    }

    .botao-menu{
        display: block;
        width: 50px;
        height: 50px;
    }

    .menu{
        display: block;
        position: absolute;
        width: 100%;
        top: 180px;
        right: 0;
        background-color: #F58220;
        height: 0;
        transition: .6s;
        z-index: 100;
        visibility: hidden;
        overflow-y: hidden;
    }

    .menu.ative {
        height: calc(100vh - 180px);
        visibility: visible;
        overflow-y: auto;
    }

    .menu a{
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0,0,0, .5);
    }

    .titulo{
        font-size: 40px;
    }

    .sub-titulo{
        font-size: 1.7rem;
        margin-top: 70px;
    }
}

@media screen and (max-width:1100px){
     .titulo{
         font-size: 25px;
     }

     .sub-titulo{
         font-size: 1.2rem;
     }
}

@media screen and (max-width:750px){
    
    .circulo{
      top: 170px;
      left: 10px;
      height: 200px;
      width: 200px;
    }

    .titulo{
        font-size: 20px;
    }

    .sub-titulo{
        font-size: 1.0rem;
    }
}

@media screen and (max-width:580px){

    .circulo{
      top: 160px;
      left: 10px;
      height: 200px;
      width:200px;
    }

    .titulo{
        font-size: 18px;
    }

    .sub-titulo{
        font-size: 1.0rem;
        margin-top: 30px;
    }
}

@media screen and (max-width:500px){

    .circulo{
      top: 160px;
      left: 10px;
      height: 200px;
      width:200px;
    }

    .titulo{
        font-size: 15px;
    }

    .sub-titulo{
        font-size: .8rem;
    }
}

@media screen and (max-width:400px){

    .circulo{
      top: 160px;
      left: 10px;
      height: 180px;
      width:180px;
    }

    .titulo{
        font-size: 10px;
    }

    .sub-titulo{
        font-size: 0.55rem;
    }
}
/* ABOUT */

@media screen and (max-width: 1750px){

    .card-about{
        background: linear-gradient(130.2deg, #242424 41.84%, #FFFFFF 41.9%);
    }

    .image{
        height: 37vh;
        width: 37vh;
        
        right: 320px;
        bottom: 350px;
    }

    .profile h4{
        font-size: 45px;
    }

    .profile h5{
        font-size: 37px;
    }
}

@media screen and (max-width: 1600px){

    .card-about{
        background: linear-gradient(128.2deg, #242424 41.84%, #FFFFFF 41.9%);
    }

    .image{
        height: 34vh;
        width: 34vh;
        right: 250px;
        bottom: 350px;
    }

    .profile h4{
        font-size: 43px;
    }

    .profile h5{
        font-size: 34px;
    }
}

@media screen and (max-width: 1513px){

    .card-about{
        background: linear-gradient(125.2deg, #242424 41.84%, #FFFFFF 41.9%);
    }

    .image{
        height: 33vh;
        width: 33vh;
        right: 250px;
        bottom: 350px;
    }

    .profile h4{
        font-size: 38px;
    }

    .profile h5{
        font-size: 30px;
    }
}

@media screen and (max-width: 1350px){

    .card-about{
        background: linear-gradient(120.2deg, #242424 41.84%, #FFFFFF 41.9%);
    }

    .image{
        height: 30vh;
        width: 30vh;
        right: 210px;
        bottom: 400px;
    }

    .profile h4{
        font-size: 34px;
    }

    .profile h5{
        font-size: 25px;
    }
}

@media screen and (max-width: 1250px){

    .card-about{
        background: linear-gradient(120.2deg, #242424 41.84%, #FFFFFF 41.9%);
    }

    .image{
        right: 150px;
        bottom: 400px;
    }

    .profile h4{
        font-size: 31px;
    }

    .profile h5{
        font-size: 23px;
    }
}

@media screen and (max-width: 1100px){

    .card-about{
        background: linear-gradient(145.2deg, #242424 41.84%, #FFFFFF 41.9%);
        display: grid;
        
    }
    .about-img{
        width: 100%;
        align-items: flex-end;
    }

    .image{
        position: static;
    }

    .about-profile{
        width: 100%;
        height: 100%;
    }
    
    .profile{
        width: 100%;
    }

    .profile h4{
        font-size: 40px;
        margin: 0;
        text-align: center;
    }

    .profile h5{
        font-size: 28px;
        text-align: center;

    }
}

@media screen and (max-width: 780px){

    .card-about{
        background: linear-gradient(170.2deg, #242424 41.84%, #FFFFFF 41.9%);
        display: flex;
        flex-direction: column;
        
    }
    .about-img{
        width: 100%;
        align-items: flex-end;
    }

    .image{
        position: static;
    }

    .about-profile{
        width: 100%;
        height: 100%;
    }
    
    .profile{
        width: 100%;
    }

    .profile h4{
        font-size: 40px;
        margin: 0;
        text-align: center;
    }

    .profile h5{
        font-size: 28px;
        text-align: center;

    }
}