/* GERAIS*/

:root{
    /* --color-primary: rgb(216, 125, 7); */
    --color-secondary: #000000;
    --color-primary: #F58220;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    list-style-type: none;
    text-decoration: none;
}

/* APRESENTAÇÃO */

.apresentacao{
    height: 100vh;
    width: 100%;
    background: url(../img/projeto.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* background-position: center; */
}

.navbar{
    background-color: rgba(196, 196, 196, 0.09);
    backdrop-filter: blur(50px);
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.navbar .logo{
    height: 15vh;
    width: 15vh;
    position: relative;
    left: 10px;
}

.logo img{
    height: 100%;
    width: 100%;
}

.botao-menu{
    display: none;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
}

.menu a{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 500;
    color: #ffffff;
    transition: all .5s;
}

.menu a:hover{
    color: var(--color-primary);
    border-bottom: 5px solid var(--color-primary);
}

.main{
    display: flex;
    height: 85vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.container{
    height: 60vh;
    width: 80%;
    background-color: rgba(196, 196, 196, 0.09);
    backdrop-filter: blur(50px);
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    
    position: relative;
}

.circulo{
    position: absolute;
    width: 500px;
    height: 500px;
    left: 100px;
    top: 250px;
    background-color: #6d6d6d;
    border-radius: 50%;
}

.titulo{
    display: flex; 
    font-weight: 600;
    font-size: 70px;
    color: var(--color-primary);
}

.titulo span{
color: #FFFFFF;
}

.sub-titulo{
    color: var(--color-primary);
    font-size: 3rem;
    margin-top: 50px;
}

/* ABOUT ou SOBRE*/

.about{
    height: 100vh;
}

.card-about{
    background: linear-gradient(140.2deg, #242424 41.84%, #FFFFFF 41.9%);
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.5);
    height: 80vh;
    width: 93%;
    margin: 0 auto;
    border-radius: 56px;
    display: flex;
}

.about-img{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.image{
    height: 40vh;
    width: 40vh;
    border-radius: 50%;
    position: absolute;
    right: 350px;
    bottom: 300px;
}

.image img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.about-profile{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    
}

.about-profile .profile{
    margin-top: 20%;
    margin-right: 5%;
    width: 100%;
}

.profile h4{
    font-size: 50px;
    color: #000000;
    margin-top: 50px;
}

.profile h4 span{
     color: var(--color-primary);
     text-transform: uppercase;
}

.profile h5{
    margin-top: 45px;
    font-size: 39px;
    text-align: justify;
    line-height: 55px;
}

/* CONHECIMENTOS*/

.section-knowledge{
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.section-title{
    margin: 30px auto;
    width: 100px;
}

.section-heading{
    text-transform: uppercase;
    font-size: 3em;
    border-bottom: 5px solid rgb(216, 125, 7);
    border-radius: 5px;
    color: rgb(75, 71, 71);
    letter-spacing: 0.025em;
    text-align: center;
    display: block;
}

.column{
    width: 100%;
    padding: 0 1em 1em 1em;
    text-align: center;
}

.card{
    width: 100%;
    height: 100%;
    padding: 2em 1.5em;
    background:  linear-gradient(#ffffff 50% , #000000 50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0,0,0, 0.12);
    cursor: pointer;
    transition: 0.5s;
    /* overflow: hidden; */
}

.card:hover{
    background-position: 0 100%;
}

.card h3{
    font-size: 20px;
    font-weight: 600;
    color: rgb(216, 125, 7);/*Talvez eu queira mudar*/
    margin: 1em 0;
    text-transform: uppercase;
}

.card:hover h3{
    color: #ffffff;
}

.card p{
    color: #575a7b;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    visibility: hidden;
    /* position: relative; */
    /* right: -100%; */
    transition: .5s;
    /* display: none; */
}

.card:hover p{
    color: #ffffff;
    visibility: visible;
    /* right: 0%; */
    /* display: block; */
}

.icon-wrapper{
    background-color: #000000;
    /* position: relative; */
    margin: auto;
    font-size: 30px;
    height: 2.5em;
    width: 2.5em;
    color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
    /* border: 1px solid #000000; */
}

.card:hover .icon-wrapper{
    background-color: #ffffff;
    color: rgb(216, 125, 7);
}

@media screen and (min-width: 768px){
    .section-knowledge{
        padding: 0 2em;
    }
    .column{
        flex: 0 50%;
        max-width: 50%;
    }
}

@media screen and (min-width: 992px){
    .section-knowledge{
        padding: 1em 3em;
    }
    .column{
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
}

@media screen and (max-width: 460px){
    .section-heading{
        text-transform: uppercase;
        font-size: 2em;
        border-bottom: 5px solid rgb(216, 125, 7);
        border-radius: 5px;
        color: rgb(75, 71, 71);
        letter-spacing: 0.025em;
    }
}

@media screen and (max-width: 318px){
    .section-heading{
        text-transform: uppercase;
        font-size: 1em;
        border-bottom: 5px solid rgb(216, 125, 7);
        border-radius: 5px;
        color: rgb(75, 71, 71);
        letter-spacing: 0.025em;
    }
}

/* PROJETOS*/

.sessao-projetos { 
    height: 100%;/**/
    /* background-color: chartreuse; */
    margin: 50px 0;
  }
  
.sessao-projetos .section-title{
    text-align: center;
    display: block;
    width: 250px;
    /* background-color: #ff4081; */
    margin-bottom: 50px;
}  
  .projetos {
    display: grid;
    justify-content: space-evenly;
    grid-template-areas: 
    "card-project card-project card-project card-project"
    "card-project card-project card-project card-project"
    ;
    grid-gap: 1%;
    /* background-color: darkslateblue; */
    padding: 50px;
    grid-gap: 100px;
  }

  .card-project {
    width: 23rem;
    height: 32rem;
    position: relative;
    /* background-color: deeppink; */
    
  }
  
  .card-img-wrapper {
    width: 100%;
    height: 100%;
    background-color: #262626;
    border-radius: 1rem;
    transition: all .5s;
    cursor: pointer;
  }

  .card-img-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    opacity: 0.8;
    transition: opacity 0.3s;
  }
  
  .card-project:hover .card-img-wrapper img {
    opacity: 0.5;
    box-shadow: 0 0 50px var(--color-primary);
  }
  
  .card-info {
    position: absolute;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    padding: 2rem;
    text-shadow: 0.3rem 0.2rem 0.3rem rgba(0, 0, 0, 0.6);
    transition: all 0.3s;
    text-align: center;
  }
  
  .card-info h2 {
    font-family: var(--font-primary);
    font-size: 2.5rem;
    font-weight: 500;
    color: #eee;
  }
  
  .card-info h3 {
    font-family: var(--font-action);
    font-weight: bolder;
    color: var(--color-primary);
    margin-bottom: 2rem;
    text-transform: uppercase;
  }
  
.projeto-p{
    text-align: justify;
}

  .card-info p {
    font-family: var(--font-secundary);
    color: #eee;
    font-weight: 400;
    width: 100%;
    margin-bottom: 2rem;
    text-align: justify;
  }
  
  .btn {
    background: var(--color-primary);
    background: -webkit-linear-gradient(to right, #db9429, #b96708);
    background: linear-gradient(to left, #db9429, #b96708);
    font-family: var(--font-action);
    color: #eee;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, 0.4);
  }
  
  .card-info button {
    width: 8rem;
    height: 2.5rem;
    cursor: pointer;
  }
  
  .card-project:hover .card-info {
    bottom: 2rem;
    opacity: 1;
    visibility: visible;
  }
  
@media screen and (max-width: 1850px){
    .projetos{
        grid-template-areas: 
    "card-project card-project card-project "
    "card-project card-project card-project "
    "card-project card-project card-project "
    ;
    }
}

@media screen and (max-width: 1444px){
    .projetos{
        grid-template-areas: 
    "card-project card-project "
    "card-project card-project "
    "card-project card-project "
    "card-project card-project "
    "card-project card-project "
    "card-project card-project "
    ;
    }

    .sessao-projetos{
        padding: 0;
        margin: 0;
        height: 70%;
    }
}

@media screen and (max-width: 902px){
    .projetos{
        grid-template-areas: 
    "card-project"
    "card-project"
    "card-project"
    "card-project"
    "card-project"
    "card-project"
    "card-project"
    "card-project"
    ;
    }

}   

@media screen and (max-width: 405px){
    .card-project{
        width: 15rem;
        height: 24rem;
    }

    .card-info {
        top:1px;
      }
      
      .card-info p {
        width: 100%;
        margin-bottom: 1rem;
      } 
} 

/* EXPERIÊNCAS PROFISSIONAIS*/

.experience{
    height: 100vh;
}

.experience-title{
    display: flex;
    justify-content: center;
}

.experience-img{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.experience-img img{
    height: 1000px;
    width: 1000px;
}

@media screen and (max-width: 1334px){
    .experience-img img{
        height: 800px;
        width: 800px;
    }
}

@media screen and (max-width: 1080px){
    .experience{
        height: 100%;
        margin-bottom: 100px;
    }

    .experience-img img{
        height: 700px;
        width: 700px;
    }
}

@media screen and (max-width: 860px){
    .experience-title{
        font-size: 10px;
    }

    .experience-img img{
        height: 500px;
        width: 500px;
    }
}

@media screen and (max-width: 650px){
    .experience-img img{
        height: 300px;
        width: 300px;
    }
}

@media screen and (max-width: 540px){

    .experience-title{
        font-size: 9px;
    }

    .experience-img img{
        height: 300px;
        width: 300px;
    }
}

/* FORMULÁRIO*/

/* FOOTER*/

footer{
    height: 250px;
    width: 100%;
    background-color: #111;
    padding-top: 40px;
    color: #fff;
}

.footer-down{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-down h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    list-style: 3rem;
}

.footer-down p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
}

.socials a i{
   font-size: 1.1rem;
   transition: color .4s ease;
}

.socials a:hover i{
   color: rgb(216, 125, 7);
}

.footer-bottom{
   background-color: rgb(216, 125, 7); 
   width: 100%;
   padding: 20px 0;
   text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
    color: #111;
}
